<div class="d-flex justify-content-center align-items-center mt-5">
    <table class="table w-75">
        <thead>
            <tr>
                <th>ID</th>
                <th>Resim</th>
                <th>Başlık</th>
                <th>Oluşturulma tarihi</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td> <img src="" style="height: 50px; height: 50px;" alt="blogresim"> </td>
                <td>Örnek Blog</td>
                <td>15 Mart 2023</td>
                <td><a href="" class="btn btn-success">Güncelle</a></td>
                <td><a class="btn btn-danger"  [routerLink]="['/my-blogs', 1]">Sil</a></td>
            </tr>
        </tbody>
    </table>
</div>