<div class="container d-flex justify-content-center">
    <form class="form-group w-50" action="">


        <div class="mt-5">
            <img src="" alt="profilepicture" class="mt-3">
            <input type="file" class="form-control mt-3">

        </div>


        <label for="ad" class="mt-3">Adınız</label>
        <input type="text" class="form-control mt-1">

        <label for="eposta" class="mt-3">Email adresiniz</label>
        <input type="text" class="form-control mt-1">

        <label for="sifre" class="mt-3">Şifreniz</label>
        <input type="password" class="form-control mt-1">

        <label for="resifre" class="mt-3">Şifrenizi yeniden giriniz</label>
        <input type="password" class="form-control mt-1">

        <div class="d-flex justify-content-between align-items-center mt-3">

            <button type="button" class="btn btn-success">Kaydet</button>
<button type="button" class="btn btn-danger mt-2" (click)="openDeleteAccountModal()">Hesabı Sil</button>

        </div>


<ng-template #deleteAccountModal>
  <app-deleteaccountmodal></app-deleteaccountmodal>
</ng-template>



    </form>
</div>